.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header"
    "navbar navbar"
    "location location"
    "bio bio"
    "image_1 image_2"
    "image_3 image_4"
    "footer footer"
}

.header {
    grid-area: header;
   text-align: center;
   border: 1px solid; 
   background-color: #ffff66;
}

.navbar {
    grid-area: navbar;
    display: inline;
    border: 1px solid;
    text-align: center;
    padding: 40px;
}
.navbar li{
    float: left;
}

.navbar a {
    display: inline;
    padding: 30px;    
}

.navbar a:hover {
    background-color: #ffff66;
}


.location {
    grid-area: location;
    background-color: #ffff66;
    border: 1px
}

.location p {
    font-size: 20px;
}

.bio {
    grid-area: bio;
    display: flex;
    background-color: #66b3ff;    
}

.bio img {
    border-radius: 100%;
}


.image_1 {
    grid-area: image_1;
    background-color: #66b3ff;
    text-align: center;
}
.image_2 {
    grid-area: image_2;
    background-color: #66b3ff;
    text-align: center;
}
.image_3 {
    grid-area: image_3;
    background-color: #66b3ff;
    text-align: center;
}
.image_4 {
    grid-area: image_4;
    background-color: #66b3ff;
    text-align: center;
}
.footer {
    grid-area: footer;
    background-color: #ffff66;
}